[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sisrestore
Exec=gksudo /usr/sbin/xsr
Icon=edit-undo
Type=Application
Terminal=false
GenericName=SistemRestore
StartupNotify=false
Categories=System
Name[id_ID]=SistemRestore
